<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
<appSettings>
    <add key="DAL" value="Hch.iDisk.SQLServerDAL"/>
    <add key="ConnectionString" value="Data Source=CHANGHU-PC\SQLEXPRESS;Initial Catalog=iDisk;Integrated Security=True"/>
    <add key="ConStringEncrypt" value="false"/>
  </appSettings>
<system.serviceModel>
        <behaviors>
                <serviceBehaviors>
                        <behavior name="userserviceMetadataBehavior">
                                <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:8888/userservice/metadata" />
                        </behavior>
                        <behavior name="fileserviceMetadataBehavior">
                                <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:8888/fileservice/metadata" />
                        </behavior>
                        <behavior name="fsserviceMetadata">
                                <serviceMetadata httpGetEnabled="true" httpGetUrl="http://127.0.0.1:8888/fsservice/metadata" />
                        </behavior>
                </serviceBehaviors>
        </behaviors>
        <services>
                <service behaviorConfiguration="userserviceMetadataBehavior"
                        name="Hch.iDisk.Services.UserService">
                        <endpoint address="http://127.0.0.1:8888/userservice" binding="ws2007HttpBinding"
                                bindingConfiguration="" contract="Hch.iDisk.Contracts.IUserService" />
                </service>
                <service behaviorConfiguration="fileserviceMetadataBehavior"
                        name="Hch.iDisk.Services.FileService">
                        <endpoint address="http://127.0.0.1:8888/fileservice" binding="ws2007HttpBinding"
                                bindingConfiguration="" contract="Hch.iDisk.Contracts.IFileService" />
                </service>
                <service behaviorConfiguration="fsserviceMetadata" name="Hch.iDisk.Services.FSService">
                        <endpoint address="http://127.0.0.1:8888/fsservice" binding="ws2007HttpBinding"
                                bindingConfiguration="" contract="Hch.iDisk.Contracts.IFSService" />
                </service>
        </services>
    </system.serviceModel>
</configuration>
