<?xml version="1.0"?>
<configuration>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup>
  <appSettings>
    <add key="Dirtory" value="C:\iDisk"/>
    <add key="Size" value="4096"/>
    <add key="Address" value="127.0.0.1:8888"/>
    <add key="ID" value="-1"/>
    <add key="Pass" value="123456"/>
  </appSettings>
</configuration>
